*{
    box-sizing: border-box;
    font-family: 'Anuphan','Open Sans',sans-serif;
    
}

html,body{
    padding: 0;
    margin: 0;
    background-color: rgb(96, 81, 97);
}

main{
    color: white;
}

nav{
    position: sticky;
    padding: 8px 24px;
    background-color: #86003c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        color: whitesmoke;
       
    }
    
}
#cartSummary{
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: white;
    padding: 16px;
    border: 1px solid black;
    

    table {
        th{
            font-weight: 700;
        }
        th,td{
            min-width: 100px;
            text-align: center;
        }
    }
}

#productList{
    display: grid;
    max-width: 1240px;
    margin: 5em auto;
    padding: 0 2em;
    grid-template-columns: repeat(auto-fit,minmax(300px,2fr));
    gap: 2em;
}
/* .productCard{
     border: 1px solid black; 
} */

.productThumbnail{
    width: 100%;
    height: 200px;
    object-fit:  cover;
    border-radius: 8px;

}

.productBottomSheet{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
    button{
        background-color: rgb(252, 170, 170);
        }
}
/* .productInfoContainer{} */

.producName{
    display: block;
    margin: 1em;
}

/* .productPrice{}

.addToCart{} */

button{
    background-color:#E41f7B;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 0.5em 2em;
    font-size: 20px;
    &:hover{
        cursor: pointer;
    }
}

